<div class="container__about-section">
	<div class="container__about-section__item" id="about-section">
		<img class="about-section-icon" src="img/documents.svg" height="100" width="100" />
		<h4 class="heading-about-section">10-K ANNUAL REPORT</h4>

		<p class="feature_text">
			The annual report on Form 10-K provides a comprehensive overview of the company's
			business, financial condition and audited financial statements.
		</p>
	</div>
	<div class="container__about-section__item">
		<img class="about-section-icon" src="img/monitor.svg" height="100" width="100" />

		<h4 class="heading-about-section">VISUALIZE FORM 10-K DATA</h4>

		<p class="feature_text">
			Visualize any company's last 10 years of data from Form 10-K along with consolidated
			Yahoo! Finance data to understand the company's performance.
		</p>
	</div>
	<div class="container__about-section__item">
		<img class="about-section-icon" src="img/money.svg" height="100" width="100" />

		<h4 class="heading-about-section">DATA DRIVEN INVESTMENTS</h4>

		<p class="feature_text">
			Make better data driven investment decisions based on visualizations of company's
			performance and it's last 5 years track records.
		</p>
	</div>
</div>
