<div class="container__future-work">
	<div class="container__future-work__logo-box">
		<p>hello!</p>
	</div>
	<!--
		<img class="about-section-futurework" src="img/codedev.svg" height="300" width="300" />
	<div class="container__future-work__text-box">
		<h4 class="heading-about-section">Watch this space for more exciting content coming up!</h4>
		<p class="feature_text">
			Our work shall not just be limited to NASDAQ 100 companies. We have great plans ahead to
			bring visualizations for all markets! Also look out for some more exciting features to
			help you better understand the economic data.
		</p>
	</div>
	-->
</div>
