<div class="container__header__logo-box">
	<img class="about-section-icon" src="img/FRONTPAGE.svg" height="950" width="800" />
</div>

<div class="container__header__text-box">
	<h1 class="heading-primary">
		<span class="heading-primary--main">VISUALIZE ECONOMIC DATA</span>

		<span class="heading-primary--sub"
			>We help you visualize data from the SEC so you can make better data driven investment
			decisions.
		</span>
		<span class="heading-primary--sub">Showing NASDAQ-100 Companies. </span>

		<div style="text-align: center; margin-top: 4vh">
			<a href="/viz-page">
				<input
					class="buttons"
					method="GET"
					type="button"
					value="Visualize NASDAQ-100 Fundamentals"
				/>
			</a>

			<a href="#searchBar">
				<input class="buttons" type="button" value="Individual Company Search" />
			</a>
		</div>
	</h1>
</div>
<div class="container__header__scrollIcon">
	<div class="chevron"></div>
	<div class="chevron"></div>
	<div class="chevron"></div>
</div>
