<div class="container__header__logo-box">
	<img class="about-section-icon" src="img/FRONTPAGE.svg" height="950" width="800" />
</div>

<div class="container__header__text-box">
	<h1 class="heading-primary">
		<span class="heading-primary--main">Visualize Economic Data</span>

		<span class="heading-primary--sub"
			>We help you visualize data from the SEC so that you can make better data driven
			investment decisions.
		</span>
		<span class="heading-primary--sub">Showing NASDAQ-100 Companies. </span>
	</h1>
</div>
