<div class="container__header__logo-box"></div>

<div class="container__header__text-box">
	<h1 class="heading-primary">
		<span class="heading-primary--main">Visualize Economic Data</span>

		<span class="heading-primary--sub"
			>We help you visualize data from the SEC so that you can make better data driven
			investment decisions.
		</span>
		<span class="heading-primary--sub">Currently serving NASDAQ-100 Companies. </span>
	</h1>
</div>
