<div class="container__nav-bar">
	<div class="container__nav-bar-logo">
		<h3 alt="Logo" class="navbar_logo">mydatanomix</h3>
	</div>
	<div class="container__nav-bar-contents">
		<h4 class="navbar-contents">About Us</h4>
		<h4 class="navbar-contents">Company Search</h4>
		<h4 class="navbar-contents">Contact Us</h4>
	</div>
</div>
