<div class="container__nav-bar">
	<div class="container__nav-bar-logo">
		<h3 alt="Logo" class="navbar_logo">mydatanomix</h3>
	</div>
	<div class="container__nav-bar-contents">
		<a href="#about-section" style="text-decoration: none"
			><h4 class="navbar-contents">About Us</h4></a
		>
		<a href="#searchBar" style="text-decoration: none"
			><h4 class="navbar-contents">Company Search</h4></a
		>

		<a href="/viz-page" style="text-decoration: none"
			><h4 class="navbar-contents">Visualize Fundamentals</h4></a
		>

		<a href="#contact-us" style="text-decoration: none"
			><h4 class="navbar-contents">Contact Us</h4></a
		>
	</div>
</div>
